{% block string_widget %}
    {%- set type = type|default('hidden') -%}
    {{ block('form_widget_simple') }}

    {% if 'edit' == string_view %}
        <div class="form-group{% if form.vars.errors|length > 0%} has-error{%endif%}" id="sonata-ba-field-container-{{ form.vars.id }}">
            <label class="control-label" for="{{ form.vars.id }}">
                {{ form.vars.label|trans({}, form.vars.translation_domain)  }}
            </label>

            <div class="sonata-ba-field sonata-ba-field-edit {% if form.vars.errors|length > 0 %}sonata-ba-field-error{% endif %}">

                <span class="string-field view-edit">
                    {{ form.vars.value }}
                </span>

                {#{% if field_description.help %}#}
                {#<span class="help-block">{% block help %}{{ field_description.help|raw }}{% endblock %}</span>#}
                {#{% endif %}#}

                {#<div class="sonata-ba-field-error-messages">#}
                {#{% block errors %}{{ form_errors(form) }}{% endblock %}#}
                {#</div>#}
            </div>
        </div>
    {% else %}
        <span class="string-field view-inline">
            {{ form.vars.value }}
        </span>
    {% endif %}
{% endblock %}


{% block image_preview_widget %}
    <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
        <label class="control-label" for="{{ form.vars.id }}">
            {{ form.vars.label|trans({}, form.vars.translation_domain) }}
        </label>
        <div class="clear"></div>
        <img src="{{ parameter('uploads_url') }}{{ form.vars.value }}" id="{{ form.vars.id }}" alt="" {{ block('widget_attributes') }}>
    </div>
{% endblock %}

